.ErodeButtonView-container {
    margin: 8px;
    margin-bottom: 16px;
}

.ErodeButtonView-button {
    flex: auto;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;

    background-color: white;
    padding: 8px;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
    cursor: default;
    transition: all 300ms ease-in-out;
    color: black;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* .ErodeButtonView-button:hover {
    background-color: #212121;
    color: black;
} */