
.ui-canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.ui-map-canvas {
    background-color: white;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.0.5);
}

.ui-offscreen-canvas {
    display: none;
}