<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terrain Builder</title>
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.png"/>

   <script src="https://use.fontawesome.com/a76eda6e58.js"></script>
    <link rel="stylesheet" href="../../stylesheets/main.css">
</head>

<body>  
    <a id="link"></a>
    {{{ body }}}
</body>

</html>