<script defer type="module" src="../javascripts/main.js"></script>
{{!-- <script defer type="module" src="../javascripts/instructions.js"></script> --}}

<header>

    <div class="img-container">
        <img class="logo" src="../images/Component 2 – 1.svg" alt="">


        <img class="three" src="../images/image (3).png" alt="">
    </div>

</header>

<div class="socials">
    <img src="../images/github (1).svg" alt=""
        onclick="window.open('https://github.com/FarazzShaikh?tab=repositories', '_blank');" target="_blank">
    <img src="../images/instagram.svg" alt="" onclick="window.open('https://www.instagram.com/faar.az/', '_blank');"
        target="_blank">
</div>

<div class="info">
    <div class="item">
        <h1>Geometry</h1>

        <ul>
            <li>
                <span class="verts">
                    <img src="../images/info/verts.svg" alt="">
                    <h1>00.0k</h1>
                </span>
                <h2>Verts</h2>
            </li>
            <li>
                <span class="tris">
                    <img src="../images/info/tris.svg" alt="">
                    <h1>00.0k</h1>
                </span>
                <h2>Tris</h2>
            </li>
            <li>
                <span class="geometry-time">
                    <img src="../images/info/time.svg" alt="">
                    <h1>00.00s</h1>
                </span>
                <h2>Time</h2>
            </li>
        </ul>

    </div>
    <div class="item">
        <h1>Erosion</h1>
        <ul>
            <li>
                <span class="iterations">
                    <img src="../images/info/iterations.svg" alt="">
                    <h1>0000</h1>
                </span>
                <h2>Iterations</h2>
            </li>
            <li>
                <span class="droplets">
                    <img src="../images/info/droplets.svg" alt="">
                    <h1>0000</h1>
                </span>
                <h2>Droplets</h2>
            </li>
            <li>
                <span class="erosion-time">
                    <img src="../images/info/time.svg" alt="">
                    <h1>00.00s</h1>
                </span>
                <h2>Time</h2>
            </li>
        </ul>
    </div>
    <div class="item">
        <h1>Map</h1>
        <ul>
            <li>
                <span class="size">
                    <img src="../images/info/size.svg" alt="">
                    <h1>000x000</h1>
                </span>
                <h2>Size</h2>
            </li>
            <li>
                <span class="normalized">
                    <img src="../images/info/normalized.svg" alt="">
                    <h1>false</h1>
                </span>
                <h2>Normalized</h2>
            </li>
            <li>
                <span class="map-time">
                    <img src="../images/info/time.svg" alt="">
                    <h1>00.00s</h1>
                </span>
                <h2>Time</h2>
            </li>
        </ul>
    </div>



</div>


<div class="settings">
    <ul>
        <li class="map">
            <div class="button">
                <img src="../images/info/size.svg" alt="">
                <h1>Map</h1>
            </div>

        </li>
        <li class="general">
            <div class="button">
                <img src="../images/configure/dodecahedron.svg" alt="">
                <h1>General</h1>
            </div>

        </li>
        <li class="erosion">
            <div class="button">
                <img src="../images/info/droplets.svg" alt="">
                <h1>Erosion</h1>
            </div>

        </li>
    </ul>
</div>


<div class="settingsItem settingsItem-general">
    <div class="header">
        <h1>General</h1>
        <img src="../images/close.svg" alt="">
    </div>
    
    <div class="content">
        <div class="item spin">
            <h3>Spin</h3>
            <div class="buttons">
                <img src="../images/configure/reset.svg" alt="">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="item customHeightMap">
            <h3>Custom Height Map</h3>
            <div class="buttons">
                <img src="../images/configure/reset.svg" alt="">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="item fileUpload">
            <input type="file" name="myfile" />
            <button class="btn">Coming Soon!</button>

        </div>
    </div>

    <div class="rangeInputs">
        <div class="top">
            <div class="input resolution">
                <h3>Resolution</h3>
                <input type="range" name="" min='0' max='1' step='0.25' default='0'>
                <div class="label">
                    <input type="text" placeholder="128">
                </div>
            </div>

            <div class="input scale">
                <h3>Height Scale</h3>
                <input type="range" name="" min='0' max='1' step='0.1'>
                <div class="label">
                     <input type="text" placeholder="8">
                </div>
                
            </div>
        </div>

         <div class="top">
            <div class="input gridSize">
                <h3>Grid Size</h3>
                <input type="range" name="" min='0' max='1' step='0.1'>
                <div class="label">
                     <input type="text" placeholder="30">
                </div>
            </div>

            <div class="input gridDivs">
                <h3>Grid Divisions</h3>
                <input type="range" name="" min='0' max='1' step='0.1'>
                <div class="label">
                     <input type="text" placeholder="20">
                </div>
                
            </div>
        </div>
        
    </div>

</div>

<div class="loading">
    <div class="content">
        <h1>Loading</h1>
    </div>
    
</div>