<script defer type="module" src="../javascripts/main.js"></script>

<div class="uk-card">
    <div class="uk-card-body" style="position: absolute; z-index: 5; cursor: pointer">
        <canvas class="myCanvas uk-card-hover" style="width: 257px; height: 257px;">

        </canvas>
    </div>
</div>