<script defer type="module" src="../javascripts/main.js"></script>
<script defer type="module" src="../javascripts/uiButtons.js"></script>

<header>

    <div class="img-container">
        <img class="logo" src="../images/Component 2 – 1.svg" alt="">
        <div class="seed-txt">
            <div class="head">
                <div class="title">SEED :</div>
                <img src="../images/refresh.svg">
            </div>
            
            <div class="val"><input type="text"></div>
        </div>
        
        <img class="three" src="../images/image (3).png" alt="">
    </div>

</header>


<canvas class="myCanvas" style="width: 0px; height: 0px;"></canvas>