<script defer type="module" src="../javascripts/main.js"></script>
<script defer type="module" src="../javascripts/uiButtons.js"></script>

<header>

    <div class="img-container">
        <img class="logo" src="../images/Component 2 – 1.svg" alt="">
        <div class="seed-txt">
            <div class="head">
                <div class="title">SEED :</div>
                <img src="../images/refresh.svg">
            </div>
            
            <div class="val"><input type="text"></div>
        </div>
        
        <img class="three" src="../images/image (3).png" alt="">
    </div>

</header>


<div class="switches">
    {{!-- <ul>
        <li> {{{sw}}} </li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
    </ul> --}}
</div>


<footer>
    <ul>
        <li class="tris"><img src="../images/triangle.svg" alt=""><div class="caption">Tris</div></li>
        <li class="verts"><img src="../images/share.svg" alt=""><div class="caption">Verts</div></li>
        <li class="time"><img src="../images/hourglass.svg" alt=""><div class="caption">00ms</div></li>
    </ul>
</footer>

<canvas class="myCanvas" style="width: 0px; height: 0px;"></canvas>