<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/styles.css">

</head>

<body>
    <script defer type="module" src="../public/js/main.js"></script>
    <canvas class="myCanvas" style="position: absolute; width: 257px; height: 257px; z-index: 5;">

    </canvas>
</body>

</html>