.myCanvas {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myCanvas canvas {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 37px 0px #000000;
    -moz-box-shadow: 0px 0px 37px 0px #000000;
    box-shadow: 0px 0px 37px 0px #000000;
    pointer-events: all;
    cursor: pointer;
}