@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
:root {
    --main-color: #FBD385;
    --main-color-dark: #ccac6d;
    --main-color-shadow: #ffd788bb;
}

body {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 2%;
    pointer-events: none;
}

header .img-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

header .img-container .three {
    width: 10%;
    height: 10%;
}

header .img-container .logo {
    width: 10%;
    height: 10%;
}

header .img-container .seed-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--main-color-dark);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 0.7em;
    letter-spacing: 2px;
    text-shadow: 0px 0px 20px var(--main-color-shadow);
}

header .img-container .seed-txt .head {
    font-weight: 700;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .img-container .seed-txt .head img {
    width: 1em;
    filter: invert(95%) sepia(27%) saturate(4742%) hue-rotate(305deg) brightness(113%) contrast(97%);
    pointer-events: all;
    cursor: pointer;
    transition: all 0.5s;
}

header .img-container .seed-txt .head img:hover {
    transform: rotate(360deg);
}

header .img-container .seed-txt .val input {
    color: var(--main-color);
    ;
    font-weight: 300;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 10px var(--main-color-shadow);
    width: auto;
    background-color: transparent;
    padding: 2%;
    margin-top: 2%;
    border-radius: 10px;
    border-width: 0px;
    border-color: var(--main-color);
    pointer-events: all;
    outline: none;
    transition: all 0.5s;
}

header .img-container .seed-txt .val input:focus {
    border-width: 2px;
    outline: none;
}

header .img-container .seed-txt .val input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--main-color);
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 10px var(--main-color-shadow);
}

header .img-container .seed-txt .val input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--main-color);
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 10px var(--main-color-shadow);
}

header .img-container .seed-txt .val input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--main-color);
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 10px var(--main-color-shadow);
}