
header {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 2%;
    pointer-events: none;
}

header .img-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

header .img-container .three {
    width: 10%;
    height: 10%;
}

header .img-container .logo {
    width: 10%;
    height: 10%;
}

