@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('./header-styles.css');
@import url('./socials-styles.css');
@import url('./info.css');
:root {
    --main-color: #FBD385;
    --main-color-dark: #ccac6d;
    --main-color-shadow: #ffd788bb;
}

body {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}