@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700&display=swap');
@import url('./header-styles.css');
@import url('./socials-styles.css');
@import url('./info.css');
@import url('./configure.css');
@import url('./instructions.css');
@import url('./settingsItem.css');
@import url('./customs/switch.css');
@import url('./loading.css');
:root {
    --main-primary: #fc5997;
    --main-secondary: #5f5f5f;
    --main-color-dark: #c27f48;
    --main-color-shadow: #ffd788bb;
}

body {
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}