@import url('./fileupload.css');
.settingsItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: #242424b2;
    z-index: 10;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    transition: opacity 300ms ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
    padding: 10px;
}

.settingsItem img {
    width: 20px;
    filter: invert(100%);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.settingsItem h1{
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}

.settingsItem h2{
    color: darkgray;
    font-size: 21px;
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}

.settingsItem h3{
    color: darkgray;
    font-size: 15px;
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}

.settingsItem h4{
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in-out;
}

.settingsItem .header {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.settingsItem .content {
    margin: 0px 10px;
}

.settingsItem .content .item {
    display: flex;
    justify-content: space-between;
    align-self: center;

    margin-top: 10px;
}

.settingsItem .content .item .buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.rangeInputs {
    margin: 0px 10px;

}

.rangeInputs .top {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.rangeInputs .top .input h3 {
    margin-top: 10px;
}

.rangeInputs .top .input input[type=range] {
    margin: 5px 0px;
    border: none;
    outline: none;
}
.rangeInputs .top .input .label {
    display: flex;
    justify-content: flex-end;
}

.rangeInputs .top .input .label input[type=text] {
    color: white;
    font-size: 12px;
    margin: 0;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    width: 30%;
    border: none;
    padding: 2px;
    text-align: right;
    border-radius: 5px;
}

.rangeInputs .top .input .label input[type=text]:focus {
    border: 1px solid;

    border-color: var(--main-color);
    outline: none;
}

.rangeInputs .top .input .label input[type=text]::placeholder {
    color: darkgray;
    font-size: 12px;
    margin: 0;
    padding: 2px;
} 