.socials {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.socials img {
    width: 1.5em;
    filter: invert(100%);
    padding-bottom: 10px;
    pointer-events: all;
    cursor: pointer;
    transition: all 0.5s;
}

.socials img:hover {
    transform: scale(1.5);
    transform-origin: center;
}