@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
:root {
    --main-color: rgb(251, 211, 131);
    --main-color-dark: #ccac6d;
    --main-color-shadow: #ffd788bb;
}

.switches {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    pointer-events: none;
}

.switches ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switches ul li {
    display: inline;
    padding-bottom: 10%;
}

.switches ul li .switch-txt {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-color);
    ;
    font-weight: 300;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 10px var(--main-color-shadow);
}

.switch-container {
    height: auto;
    text-align: center;
}


/** Switch
-------------------------------------*/

.switch input {
    position: absolute;
    opacity: 0;
}


/**
* 1. Adjust this to size
*/

.switch {
    display: inline-block;
    font-size: 20px;
    /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
    pointer-events: all;
    cursor: pointer;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
    -moz-box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
    box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
}

.switch input:checked+div {
    background: var(--main-color);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
    -moz-box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
    box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
}

.slider input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10rem;
    height: 0.25rem;
    outline: none;
    border-radius: 0.25rem;
    background: #BDB9A6;
    margin-bottom: 15px;
    transition: all 0.5s;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    background: var(--main-color);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    pointer-events: all;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
    -moz-box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
    box-shadow: 0px 0px 37px 0px var(--main-color-shadow);
}