
.ui-icon-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
}

.ui-icon-contianter {
    display: flex;
}

.ui-icon {
    padding: 8px;
    margin-right: 4px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
}

.ui-icon:hover {
    color: black;
    background-color: white;
}