.container {
    flex: 0.5;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 16px;
}

.slider {
    margin-top: 4px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.label {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.value {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.slider-tooltip {
    margin-left: 8px;
    cursor: pointer;
}