.rangeSlider {
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    border-radius: 2.5px;
    background: var(--main-secondary);
    -webkit-box-shadow: 0px 0px 40px 0px var(--main-secondary);
    -moz-box-shadow: 0px 0px 40px 0px var(--main-secondary);
    box-shadow: inset 0px 0px 10px 0px var(--main-secondary);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-primary);
    -webkit-box-shadow: 0px 0px 20px 0px var(--main-primary);
    -moz-box-shadow: 0px 0px 20px 0px var(--main-primary);
    box-shadow: 0px 0px 20px 0px var(--main-primary);
    cursor: pointer;
}

.rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}