.iconContainer-main-icon {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 8px;
}

.iconContainer-sub {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconContainer-icon-label {
    text-align: left;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 200;
    color: white;
    margin: 4px;

}

.iconContainer-icon-value {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
}